{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/protected/navbar.html.twig' %}
    
    <main class="main-admin">
            <h1>Úpráva: {{ post.name }}</h1>
            {{ form_start(edit_form) }}
                {{ form_row(edit_form.name) }}
                {{ form_row(edit_form.content) }}
                {{ form_row(edit_form.category) }}
                {{ form_row(edit_form.image) }}
                <img src="{{ asset('images/' ~ post.image) }}" alt="{{ post.name }}" />
                <div>
                    <button type="submit">Upravit článek</button>
                </div>
            {{ form_end(edit_form) }}
    </main>
{% endblock %}
